/* About Us CSS */

/* About Us Page ----------------------------------- */

#portfolio {
  padding-left: 40px;
}

.btn-default {
  background: #0099cc;
  color: #000000;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: #FFFFFF;
}
.carousel {
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

.carousel .btn {
    font-family: "Chantilly";
}

.first-slide {
    Background: url(../img/about_img/about1.jpg) no-repeat center center;
    background-size: cover;
}

.second-slide {
    Background: url(../img/about_img/about2.jpg) no-repeat center center;
    background-size: cover;
}

.third-slide {
    Background: url(../img/about_img/about3.jpg) no-repeat center center;
    background-size: cover;
}

@media (max-width: 890px) {
    h1 {
        font-size: 400%;
    }
}



.slide2 {
	z-index: 10;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.col-md-7 {
  text-align: right;
}

.col-md-8 {
  text-align: left;
}

.col-sm-4 {
    text-align: center;
    margin-bottom: 30px;
}

.row {
    width: 100%;
    text-align: center;
}

.align-left p {
    text-align: left;
}

@media (min-width: 768px) {
    .row {
        text-align: left;
    }
}

@media (min-width: 1250px) {
    .row {
        width: 75%;
        margin: 0 auto;
    }
}

.col-sm-6 {
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        margin-bottom: 60px;
    }
}

.col-sm-6 img {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .col-sm-6 img {
        margin: 0;
    }
}

p { 
    font-size: 120%;
    font-family: "Chantilly XLite";
}

#about p {
    text-align: left;
}

.left {
    text-align: left;
}

.col-sm-12 {
    padding-left: 50px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.col-sm-12 h4 {
    text-align: left;
}

.col-sm-12 .center {
    text-align: center;
}

.col-sm-12 img {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;
    max-height: auto;
}

@media (min-width: 768px) {
    .col-sm-12 img {
        max-width: 75%;
    }
    .col-sm-12 h4 {
        text-align: center;
    }
}

/* About A Move for Life */

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

/* Board of Directors Border CSS */
h2 {
    margin-top: 40px;
}


/* Celebrate. Give. Live. CSS */

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.dis {
    display: none;
}

@media (min-width: 768px) {
    .dis {
        display: block;
    }
}

footer {
    margin-top: 10px;
}

.lefth4 {
    text-align: left;
}