/* Banner ------------------------------------- */
.jumbotron {
  Background: url(../img/contact_img/contact_banner3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  margin-bottom: 0px;
}