/* Banner ------------------------------------------- */
.jumbotron {
  Background: url(../img/partner_img/partner_banner_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 60px;
}

/* Headings & Text ------------------------------------ */
h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 5%;
}

h3 {
	margin-top: 15px;
}

/* Sections ------------------------------------------- */
.partners-section {
	width: 90%;
	height: 200px;
	float: left;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

@media (min-width: 825px) {
	.partners-section {
		height: 250px;
	}
}

.slide {
	position: absolute;
	height: 100%;
	width: 500%;
	left: 0%;
}

.partners-row {
	display: table;
	vertical-align: middle;
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}

.partners-object {
	width: 33.3333%;
	float: left;
	text-align: center;
	position: relative;
	display: inline;
}

.partners-object div {
	position: absolute;
}

.partners-img {
	width: 95%;
	max-width: 300px;
	height: auto;
}

.arrow {
	width: 5%;
	height: 150px;
	float: left;
	display: table;
	font-size: 200%;
	cursor: pointer;
	color: #666666;
	transition: all 0.5s ease;
}

@media (min-width: 825px) {
	.arrow {
		height: 193px;
	}
}

.arrow:hover {
	color: black;
}

.v-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}