/* Banner ------------------------------------------- */
.jumbotron {
  Background: url(../img/partner_img/partner_banner_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
  margin-bottom: 0px;
}

/* Headings & Text ------------------------------------ */
h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 5%;
}

.partners-section h4 {
	margin-top: 15px;
}

/* For text that is too long */
@media (min-width: 768px) {
	.small-only {
		display: none;
	}
}

@media (max-width: 768px) {
	.large-only {
		display: none;
	}
}

.partners-subheading {
	margin-top: 25px;
	margin-left: 5%;
	margin-right: 5%;
	color: #666;
}

@media (min-width: 768px) {
	.partners-subheading {
		text-align: center;
	}
}



/* Sections ------------------------------------------- */
.partners-section {
	width: 80%;
	height: 250px;
	float: left;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

@media (min-width: 768px) {
	.partners-section {
		width: 90%;
		height: 200px;
	}
}



@media (min-width: 825px) {
	.partners-section {
		height: 250px;
	}
}

.slide {
	position: absolute;
	height: 100%;
	width: 500%;
	left: 0%;
}

.partners-row {
	display: table;
	vertical-align: middle;
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}

.partners-object {
	width: 33.3333%;
	float: left;
	text-align: center;
	position: relative;
	display: inline;
}

.partners-object div {
	position: absolute;
}

.partners-img {
	width: 95%;
	max-width: 300px;
	height: auto;
	display: none;
}

.partners-img-alt {
	width: 120px;
	max-width: 95%;
	height: auto;
}

@media(min-width: 768px) {
	.partners-img {
		display: inline;
	}
	.partners-img-alt {
		display: none;
	}
}

.arrow {
	width: 10%;
	height: 180px;
	float: left;
	display: table;
	font-size: 200%;
	cursor: pointer;
	color: #666666;
	transition: color 0.5s ease;
}

.featured-arrow {
	visibility: hidden;
}

.artist-left, .sponsor-left, .charity-left {
	opacity: 0;
	cursor: auto;
}

@media (min-width: 768px) {
	.arrow {
		width: 5%;
		height: 150px;
	}
}

@media (min-width: 825px) {
	.arrow {
		height: 193px;
	}
}

.arrow:hover {
	color: black;
}

.v-center {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.monthly {
	margin-left: 5%
}


/* Links ---------------------------- */
a {
	color: black;
	text-decoration: none;
	transition: all 0.5s ease;
}

a:hover {
	color: black;
}

.partners-subheading a {
	text-decoration: underline;
	color: #666;
}